body{
    background-color:rgb(63, 224, 224);
    opacity: 80%;
}
#container{
    width:150px;
    margin:0 auto;
    margin-top:15%;
    border-radius: 20px;
    width:160px;
    height:160px;
}
.e {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.q{
    color:#eb2a84;
    font-family: harrington;
    text-align: center;
 }
.ee{
  background:#000000;
  border-radius:40%;
  width:40px;
  height:30px;
  color: white;
  border:2px solid #767c6a; 
}
.ed{
    background:orange;
    border-radius:40%;
    width:40px;
    height:30px;
    color: white;
    border:2px solid #767c6a; 
  }
  .ep{
    background:#9e9e9d;
    border-radius:40%;
    width:40px;
    height:30px;
    color: white;
    border:2px solid #767c6a; 
  }